<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UP Used Parts - Внутренний сервис</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header class="header">
        <div class="header-container">
            <div class="header-left">
                <div class="logo">
    <img src="{{ url_for('static', filename='images/logo_60.png') }}" alt="UP Used Parts" class="logo-img">
    <div class="logo-text">
        <span class="logo-used">Used</span>
        <span class="logo-parts">Parts</span>
    </div>

</div>
              <ul class="nav-links">
                    <li><a href="/">Главная</a></li>
                    <li><a href="#">Каталог</a></li>
                    <li><a href="/sales_log">Журнал продаж</a></li>
                    <li><a href="/add_part">Добавить деталь</a></li>
                </ul>
            </div>
        </div>
    </header>

    <p>ЭТО ЖУРНАЛ ПРОДАЖ</p>

